.main-loginContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: linear-gradient(rgb(215, 190, 194),rgb(250, 250, 183),rgb(173, 173, 255));
}
.container1{
    display: flex;
    flex-direction: column;
    background-color: rgb(249, 255, 231);
    width: 340px;
    padding: 30px;
    gap: 10px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.container1 > input{
    height: 34px;
    border-radius: 10px;
    padding:5px 10px;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.loginbtn{
    background-color: rgb(173, 190, 230);
    border: none;
    padding: 8px;
    font-weight: bold;
    margin-top: 10px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.errorMsg{
    color: red;
    font-size: 13px;
}