<div class="detailsMain">
    
    <div style="padding: 100px;">
        <h2><b>Employee Details</b></h2>
        <br>
        <p><b>Employee Name :</b> {{details.name}}</p>
        <p><b>Employee Position :</b> {{details.position}}</p>
        <p><b>Employee Contact :</b> {{details.contact}}</p>
        <p><b>Employee Age :</b> {{details.age}}</p>
        <p><b>Employee Address :</b> {{details.address}}</p>
        <p><b>Employee Salary :</b> {{details.salary}}</p>
    </div>

    <button class="btn btn-secondary" style="margin: 20px;" (click)="back(details)">back</button>
</div>
